[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-environ = "*"
django-debug-toolbar = "*"
django-registration-redux = "*"

[dev-packages]

[requires]
python_version = "3.10"
